@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary-color: #ffffff;
  --secondary-color: #3f3d56;
  --tertiary-color: #6c63ff;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

body::-webkit-scrollbar {
    width: .5rem;
}

body::-webkit-scrollbar-track {
    background: var(--secondary-color);
}

body::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
}


h1 {
  font-size: 8rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 2.5rem;
}

p {
  font-size: 1.8rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*---- nav section ----*/

nav {
  background: var(--primary-color);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}

.navbar {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 4rem;
  margin-right: 1rem;
}

.logo li {
  color: var(--secondary-color);
  text-align: center;
  font-size: 3rem;
  list-style-type: none;
}

.list {
  display: flex;
}

.list-item a {
  color: var(--secondary-color);
  font-size: 2rem;
  margin-left: 2.5rem;
  position: relative;
}

.list-item a::after {
  content: "";
  background: var(--secondary-color);
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0px;
  bottom: -2.5rem;
  opacity: 0;
}

.list-item a:hover::after {
  transform: translateY(-2rem);
  opacity: 1;
}

.cta {
  border: 2px solid var(--tertiary-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.cta:hover {
  border-bottom: none;
}

/*---- home section ----*/

.home-main {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.home-main span {
  color: var(--tertiary-color);
}

.main-content h3,
.main-content p,
.main-content a {
  margin-bottom: 5rem;
}

.main-content p {
  font-size: 2rem;
}

.btn {
  width: 400px;
  height: 50px;
  margin: 3rem 0;
  position: relative;
}

.btn a {
  width: 100%;
  height: 100%;
  background: var(--tertiary-color);
  color: var(--primary-color);
  border: none;
  outline: none;
  font-size: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-image {
  margin-left: 5rem;
}

.main-image img {
  width: 100%;
  height: 100%;
}

/*---- about section ----*/
.about {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.topic {
  text-align: center;
}

.topic li {
  font-size: 2.5rem;
  color: var(--tertiary-color);
  position: relative;
}

.topic li::after {
  content: "";
  background: var(--tertiary-color);
  width: 30%;
  height: 3px;
  position: absolute;
  left: 50%;
  bottom: -20%;
  transform: translate(-50%, 20%);
}

.about-main p {
  color: var(--tertiary-color);
  text-align: center;
  padding: 0 5rem;
  margin-bottom: 6rem;
  margin-top: 6rem;
  font-size: 5rem;
}

.about-main .btn {
  margin: auto;
}

/*---- services section ----*/
.services {
  min-height: 90vh;
  width: 90%;
  margin: auto;
}

.services .topic {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  /* padding-top: 2%;
  padding-bottom: 2%; */
}

.card img {
  object-fit: contain;
}

.card h4,
.card p,
.card img {
  margin: 3%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.services .btn {
  margin: 5rem auto;
}

/*--- contact section ---*/

.contact {
  width: 90%;
  margin: auto;
}

.contact .topic {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.form {
  width: 40%;
}

.form .input-box {
  margin-bottom: 4rem;
}

.form .input-box input {
  width: 100%;
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 10px 10px;
  font-size: 1.8rem;
  border-bottom: 2px solid var(--tertiary-color);
}

.form .input-box input::placeholder {
  color: var(--secondary-color);
}

.form .input-box textarea {
  width: 100%;
  background: transparent;
  box-shadow: none;
  outline: none;
  min-height: 15rem;
  padding: 10px 10px;
  font-size: 1.8rem;
  border: 2px solid var(--tertiary-color);
}

.form .input-box textarea::placeholder {
  color: var(--secondary-color);
  font-size: 1.8rem;
}

.form .input-box input[type="submit"] {
  width: 15rem;
  background: var(--tertiary-color);
  color: var(--primary-color);
  border-radius: 0.5rem;
}

.contact-main {
  display: flex;
  justify-content: space-between;
}

.contact-img {
  width: 50%;
}

.contact-img img {
  width: 100%;
  padding: 1rem;
}

/*---footer---*/

footer {
  height: 10vh;
  background: var(--secondary-color);
  color: var(--primary-color);
}

.footer-content {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100%;
}

/*---Menu btn---*/
.menu-btn {
    cursor: pointer;
    /* position: sticky;
    top: 2rem;
    right: 2rem; */
    z-index: 10;
    display: none;
}

/*---Media Queries---*/
@media screen and (max-width: 800px) {
  /*---services---*/

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 700px) {

    .menu-btn {
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .menu-btn:hover {
        opacity: 0.5;
    }

    ul.list {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: var(--secondary-color);
        width: 100%;
        height: 100vh;
        border-right: 1px solid #cccccc;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
    }

    ul.list.show {
        transform: translateX(-20px);
    }

    ul.list li {
        padding: 10px;
        border-bottom: 1px solid #cccccc;
    }

    ul.list li:last-child {
        border-bottom: none;
    }

    ul.list li a {
        color: var(--primary-color);
    }    

  /*---home---*/
  .home-main {
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin: 5rem auto;
  }

  .main-content h3,
  .main-content p,
  .main-content a {
    text-align: center;
  }

  .btn {
    margin: 3rem auto;
  }

  .main-image {
    margin-left: 0;
  }

  .main-image img {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  /*---about---*/
  .about {
    height: auto;
  }

  .topic {
    padding: 1.8rem;
  }

  .about-main p {
    padding: 0 5rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
    font-size: 5rem;
  }

  /*---services---*/
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /*---contact---*/
}

@media screen and (max-width: 500px) {
  /*---services---*/
  
}
